@import "tailwindcss";
/* font-finger */
@font-face {
  font-family: 'Finger Paint';
  src: url('./fonts/FingerPaint-Regular.ttf') format('truetype');
}

.finger-font {
  font-family: 'Finger Paint', cursive;
}


/* font-inter */
/* @font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
} */

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}
.inter-font {
  font-family: 'Inter';
}

@font-face {
  font-family: 'Afacad';
  src: url('./fonts/Afacad-Regular.ttf') format('truetype');
  
}
.afacad-font{
    font-family:'Afacad' ;
}
