@import "tailwindcss";
@theme {
  --color-ghoz: #F2E5EE;
  --color-limoni: #F59124;
}

/* font-finger */
@font-face {
  font-family: 'Finger Paint';
  src: url('./fonts/FingerPaint-Regular.ttf') format('truetype');
}

.finger-font {
  font-family: 'Finger Paint', cursive;
}


/* afacad-font */
@font-face {
  font-family: 'Afacad';
  src: url('./fonts/Afacad-Regular.ttf') format('truetype');

}
.afacad-font{
    font-family:'Afacad' ;
}


/* inter-font */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  
}
.inter-font{
    font-family:'Inter' ;
}



/*-------------Carrousel--------------*/

.ourFood h2{
    font-family: 'Finger Paint';
}

.commentairesContainer{
    perspective: 4000px;
    overflow: hidden;
}

.containerCommentaires:hover {
    animation-play-state: paused;
}


.containerCommentaires{
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;  
    animation: rotation3d 25s linear infinite;
}

.commentaireContainer{
    backface-visibility: hidden;
}

.commentaireContainer:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

@keyframes rotation3d {
    0%   { transform: rotateY(0deg); }   
    100% { transform: rotateY(360deg); } 
}

.commentaireContainer:nth-child(1) {
    transform: translateY(10%) rotateY(0deg) translateZ(400px);
}

.commentaireContainer:nth-child(2) {
    transform: translateY(10%) rotateY(60deg) translateZ(400px);
}

.commentaireContainer:nth-child(3) {
    transform: translateY(10%) rotateY(120deg) translateZ(400px);
}

.commentaireContainer:nth-child(4) {
    transform: translateY(10%) rotateY(180deg) translateZ(400px);
}

.commentaireContainer:nth-child(5) {
    transform: translateY(10%) rotateY(240deg) translateZ(400px);
}

.commentaireContainer:nth-child(6) {
    transform: translateY(10%) rotateY(300deg) translateZ(400px);
}

.imageNameContainer{
    margin-top: 3px;
}

.imageCommentaireContainer{
    margin-top: 4px;
}

.ourFood p{
    font-family: 'Afacad';
    color: #555555;
}











/*---------------------Footer----------------------*/



footer h3{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Afacad';
}

footer p{
    font-size: 16px;
    color: #555555;
}

footer h1{
    font-family: 'Finger Paint';
    font-size: 70px;
}

#restaurantFooter{
    color: #F59124;
}




/*---------------Tablette----------------*/



@media (min-width: 600px) and (max-width: 1149px){
    .contactUsContainerFooterTablette{
        display: block;
    }
    .amdraRestauContainerFooterTablette{
        display: block;
    }
    .contactUsContainerFooter{
        display: none;
    }
    
}














/*---------------Desktop----------------*/





@media (min-width: 1150px) {
    .imgContainerFooterDesktop{
        display: block;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
    .imgContainerFooterMobile{
        display: none;
    }
    .amdraRestauContainerFooter{
        display: flex;
    }
    footer{
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 30% 20% 30% 20%;
    }
    .contactUsContainerFooter{
        margin-top: 0;
    }
    .descriptionContainerFooter{
        grid-column: 2 / 3;
    }
    .iconsContainerFooter{
        gap: 30px;
    }
    .amdraRestauContainerFooter{
        grid-row: 2 / 3;
        grid-column: 2 / 5;
    }

}
