@import "tailwindcss";
@theme {
  --color-ghoz: #F2E5EE;
  --color-limoni: #F59124;
}

/* font-finger */
@font-face {
  font-family: 'Finger Paint';
  src: url('./fonts/FingerPaint-Regular.ttf') format('truetype');
}

.finger-font {
  font-family: 'Finger Paint', cursive;
}


/* afacad-font */
@font-face {
  font-family: 'Afacad';
  src: url('./fonts/Afacad-Regular.ttf') format('truetype');

}
.afacad-font{
    font-family:'Afacad' ;
}


/* inter-font */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  
}
.inter-font{
    font-family:'Inter' ;
}



/*-------------Carrousel--------------*/
